*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(135deg, #e04f1b, #e8bf28, #e7491d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background:linear-gradient(135deg, #000000, #4b4016, #482e27);
}
.pokemon-card{
    border: 5px solid black;
    display: none;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding:20px;
    background: linear-gradient(135deg, #e74409, #f6d365, #982a0c);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px;
}

img{
    width:150px;
    height: 150px;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 4px;
    background:linear-gradient(135deg , rgb(187, 26, 26) ,rgb(135, 35, 52),rgb(52, 6, 6));
    box-shadow: 2px 2px 5px 4px;
}


.stat{
    margin: 5px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.label{
    font-weight: bold;
}

.pokemon-input{
    border: 2px solid black;
    padding:4px;
    width:250px;
    border-radius: 5px;
    font-size: 18px;
    font-family:monospace;
    font-weight: bold;
    color:#ded416;
    background:linear-gradient(135deg , rgb(187, 26, 26) ,rgb(135, 35, 52),rgb(52, 6, 6));
}
button{
    padding:6px;
    border: 2px solid rgb(34, 10, 10);
    border-radius:4px ;
    font-weight: bold;
    color:rgb(199, 199, 19);
    background-color: rgb(156, 25, 25);
    cursor: pointer;
}

p{
    color: crimson;
}

.statvalue{
    color: rgb(165, 12, 12);
    font-weight: bold;
    font-size: medium;
}